{%- if title and title != blank %}

  {%- liquid
    assign snippet_name = 'banner'
    assign colour = colour | default: 'black'
  -%}

  <div class="{{ snippet_name }} {{ snippet_name }}--{{ colour }}">
    <span class="{{ snippet_name }}__title">{{ title }}</span>
  </div>

{%- endif -%}
