{%- if modal_content and modal_content != blank and modal_id and modal_id != blank -%}

  {%- liquid

    assign snippet_name = 'mobal'
    assign modal_classes = modal_classes | default: ''


  -%}

  <div class="{{ snippet_name }} fade{% if modal_classes != blank %} {{ modal_classes }}{% endif %}" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="{{ snippet_name }}-dialog" role="document">
      <div class="{{ snippet_name }}-content">

        <button class="{{ snippet_name }}__button button button--close" data-bs-dismiss="{{ snippet_name }}" type="button">
          {% render 'svg-icon', type: 'close' %}
        </button>

        <div class="{{ snippet_name }}__main">{{ modal_content }}</div>

      </div>
    </div>
  </div>

{%- endif -%}
