{%- if product and product != blank %}

  {%- liquid

    comment
      Accepts:
        - classes: {String} Optionally include additional classes
        - id: {String} Optionally include a unique ID
        - index: {Integer} Optionally include index from loop object
        - product: {Object} Product Liquid object
        - style: {String} Optionally load different card types by passing style option
    endcomment

    assign snippet_name = 'card-product'
    assign snippet_classes = snippet_name | append: ' product'
    assign snippet_id = snippet_name | append: '--' | append: product.id
    assign style = style | default: 'not-set'

    if classes and classes != empty
      assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes
    endif

    assign aos_id = snippet_id | append: '--aos'
    assign aos_delay = 250
    assign aos_delay_increment = 250

    assign available = product.available | default: false
    assign date_published = product.published_at
    assign images = product.images | default: false
    assign price = product.price
    assign price_compare = product.compare_at_price
    assign selected_variant = product.selected_or_first_available_variant | default: false
    assign title = product.title | default: ''
    assign type = product.type | default: ''
    assign url = product.url | default: ''

  -%}

  <article
    class="{{ snippet_classes }}"
    id="{{ snippet_id }}"
    data-index="{{ index }}"
    data-published-at="{{ date_published | date: "%Y-%m-%d %H:%M:%S" }}"
    data-style="{{ style }}"
    {% unless available %}data-unavailable{% endunless %}
  >
    <div class="{{ snippet_classes }}__layout" id="{{ aos_id }}">

      {% case style %}

        {% when 'something-custom' %}
          {% render 'price', product: product, show_symbol: true %}
          {% render 'button-add-to-cart', button_title: 'Add to Bag', variant_id: selected_variant.id %}

        {% else %}

          <div class="{{ snippet_name }}__image">
            <a class="{{ snippet_name }}__image-link link" href="{{ url }}" title="{{ title }}" target="_self">
              {% render 'lazyload-image', classes: 'card-product__image-01', image: images[0] %}
              {% render 'lazyload-image', classes: 'card-product__image-02', image: images[1] %}
            </a>
          </div>
          <div class="{{ snippet_name }}__content">
            <strong class="{{ snippet_name }}__title">
              <a class="{{ snippet_name }}__title-link link" href="{{ url }}" title="{{ title }}" target="_self">{{ title }}</a>
            </strong>
          </div>

      {% endcase %}

    </div>
  </article>

{%- endif -%}
