{% comment %}

    Accepts:
    - collection: {Object} Collection Liquid object
    - style: {String} Optionally load different card types by passing style option

    Usage:
    {% render 'card-collection', collection: collection, style: 'anything-but-default' %}

{% endcomment %}

{%- if collection and collection != blank -%}

  {% assign snippet_name = 'card-collection' %}
  {% assign snippet_classes = snippet_name | append: ' collection' %}
  {% assign snippet_id = snippet_name | append: '--' | append: article.id -%}
  {% assign style = style | default: 'not-set' %}

  {% if classes and classes != empty %}
    {% assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes %}
  {% endif %}

  {% assign aos_id = snippet_id | append: '--aos' %}
  {% assign aos_delay = 250 %}
  {% assign aos_delay_increment = 250 %}

  {% assign date_published = collection.published_at %}
  {% assign desciption = collection.description | default: '' %}
  {% assign image = collection.image | default: false %}
  {% assign title = collection.title | default: '' %}
  {% assign url = collection.url | default: '' %}

  <article class="{{ snippet_classes }}" id="{{ snippet_id }}" data-published-at="{{ date_published | date: "%Y-%m-%d %H:%M:%S" }}" data-style="{{ style }}">
    <div class="{{ snippet_classes }}__layout" id="{{ aos_id }}">

      {% case style %}
        {% when 'featured' %}
        {% else %}
          <div class="{{ snippet_name }}__image">
            <a class="{{ snippet_name }}__image-link" href="{{ url }}" title="{{ title }}" target="_self">
              {% render 'lazyload-image', image: image %}
            </a>
          </div>
          <div class="{{ snippet_name }}__content">
            <time class="{{ snippet_name }}__date" datetime="{{ date_published | date: "%Y-%m-%d" }}">{{ date_published | date: "%B %e, %Y" }}</time>
            <strong class="{{ snippet_name }}__title">
              <a class="{{ snippet_name }}__title-link" href="{{ url }}" title="{{ title }}" target="_self">{{ title }}</a>
            </strong>
          </div>
      {% endcase %}

    </div>
  </article>

{% endif %}
