{%- if card_product and card_product != blank %}

  {%- liquid

    comment
      Accepts:
        - card_product: {Object} Product Liquid object
        - classes: {String} Optionally include additional classes
        - id: {String} Optionally include a unique ID
        - style: {String} Optionally load different card types by passing style option
    endcomment

    assign snippet_name = 'card-product'
    assign snippet_classes = snippet_name | append: ' product'
    assign snippet_id = id | default: 'card-product--' | append: card_product.id
    assign style = style | default: 'not-set'

    if classes and classes != empty
      assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes
    endif

    assign aos_id = snippet_id | append: '--aos'
    assign aos_delay = 250
    assign aos_delay_increment = 250

    assign available = card_product.available | default: false
    assign date_published = card_product.published_at
    assign images = card_product.images | default: false
    assign price = card_product.price
    assign price_compare = card_product.compare_at_price
    assign selected_variant = card_product.selected_or_first_available_variant | default: false
    assign title = card_product.title | default: ''
    assign type = card_product.type | default: ''
    assign url = card_product.url | default: ''

  -%}

  <article
    class="{{ snippet_classes }}"
    id="{{ snippet_id }}"
    data-published-at="{{ date_published | date: "%Y-%m-%d %H:%M:%S" }}"
    data-style="{{ style }}"
    {% unless available %}data-unavailable{% endunless %}
  >
    <div class="{{ snippet_name }}__layout" id="{{ aos_id }}">

      {% case style %}
        {% when 'featured' %}
        {% else %}
          <div class="{{ snippet_name }}__image">
            <a class="{{ snippet_name }}__image-link link" href="{{ url }}" title="{{ title }}" target="_self">
              {% render 'lazyload-image', classes: 'card-product__image-01', image: images[0] %}
              {% render 'lazyload-image', classes: 'card-product__image-02', image: images[1] %}
              {% unless available %}
                {% render 'banner', colour: 'red', title: 'Sold Out! (Sorry)' %}
              {% endunless %}
            </a>
          </div>
          <div class="{{ snippet_name }}__content">
            <strong class="{{ snippet_name }}__title">
              <a class="{{ snippet_name }}__title-link link" href="{{ url }}" title="{{ title }}" target="_self">{{ title }}</a>
            </strong>
          </div>
      {% endcase %}

    </div>
  </article>

{%- endif -%}
