{% comment %}

    Accepts:
    - classes: {String} Optionally include classes
    - colour: {String} Colour of link
    - link: {String} URL Liquid object
    - style: {String} Style of link
    - title: {String} Title of link

    Usage:
    {% render 'debug-this', item: article %}

{% endcomment %}

{% assign snippet_name = 'link' %}
{% assign snippet_class = snippet_name %}
{% assign target = "_self"  %}

{% if colour != blank %}
  {% assign snippet_class = snippet_class | append: ' ' | append: snippet_name | append: '--' | append: colour %}
{% endif %}

{% if style != blank %}
  {% assign snippet_class = snippet_class | append: ' ' | append: snippet_name | append: '--' | append: style %}
{% endif %}

{% if classes != blank %}
  {% assign snippet_class = snippet_class | prepend: ' ' | prepend: classes %}
{% endif %}

{% if link contains 'http' %}
  {% assign target = "_blank"  %}
{% endif %}

{% if link != blank and title != blank %}
  <a class="{{ snippet_class }}" href="{{ link }}" title="{{ title }}" target="{{ target }}">
    <span class="{{ snippet_name }}__title">{{ title }}</span>
  </a>
{% endif %}
