{%- if link and link != blank and title and title != blank -%}

  {% comment %}

    Accepts:
      - classes: {String} Optionally include classes
      - link: {String} URL
      - title: {String} Title of link

    Usage:
    render 'link', classes: 'anything you-desire here', link: '/collections/all' title: 'Shop All'

  {% endcomment %}

  {%- liquid

    assign snippet_name = "link"
    assign snippet_classes = snippet_name
    assign target = "_self"

    if classes and classes != blank
      assign snippet_classes = classes
    endif

    if link contains 'http'
      assign target = "_blank"
    endif

  -%}

  <a class="{{- snippet_classes | strip_newlines -}}" href="{{- link -}}" title="{{- title -}}" target="{{- target -}}">
    <span class="{{ snippet_name }}__title">{{- title -}}</span>
  </a>

{%- endif -%}
