{%- if product and product != blank -%}

  {%- comment -%}

      Accepts:
      - classes: {String} Any combination classes, be it multiple classes or a single class
      - product: {Object} Product Liquid object

      Usage:
      {%- render 'product-options', classes: 'my-great-class another-class', product: product -%}

  {%- endcomment -%}

  {%- liquid

    assign template_name = 'main-product'
    assign snippet_name = 'product-options'

    assign classes = classes | default: 'main-product__options'

    assign product_available = product.available | default: false
    assign product_has_no_options = product.has_only_default_variant | default: false
    assign product_first_variant_available = true

  -%}

  <div class='product__options {{ snippet_name }}'>

    {% unless product_has_no_options %}
      <strong class='{{ snippet_name }}__heading d-none'>Select a Size:</strong>
    {% endunless %}

    <div class='{{ snippet_name }}__list'>
      {% for variant in product.variants %}
        <div class='{{ snippet_name }}__item radio {% unless variant.available %}unavailable{% endunless %}' role='listitem'>
          <label class='radio__label' {% unless variant.available %}disabled{% endunless %}>
            <input
              class='radio__input'
              name='id'
              type='radio'
              value='{{ variant.id }}'
              data-available='{{ variant.available }}'
              data-compare-at-price='{{ variant.compare_at_price }}'
              data-inventory-management='{{ variant.inventory_management }}'
              data-price='{{ variant.price }}'
              {% unless variant.available %}disabled{% endunless %}
              {% if variant.available and product_first_variant_available %}
                checked
                {% assign product_first_variant_available = false %}
              {% endif %}
            />
            <div class='radio__item'>
              <span class='radio__title'>{{ variant.title }}</span>
            </div>
          </label>
        </div>
      {% endfor %}
    </div>

  </div>

{%- endif -%}
