{%- liquid

  assign snippet_name = 'stepper'
  assign snippet_classes = classes | default: snippet_name

  assign stepper_value = stepper_value | default: 1

  if stepper_classes and stepper_classes != blank
    assign snippet_classes = snippet_name | prepend: ' ' | prepend: stepper_classes
  endif

-%}

<div class="{{ snippet_classes }}">

  <button class="{{ snippet_name }}__button button button--stepper button--svg decrease js--stepper-button" type="button">
    <span class="{{ snippet_name }}__button-icon button__icon">
      {% render 'svg-icon', type: 'chevron' %}
    </span>
  </button>

  <input class="{{ snippet_name }}__input input--secondary js--stepper-input" type="number" name="quantity" min="1" max="9999" value="{{ stepper_value }}" readonly>

  <button class="{{ snippet_name }}__button button button--stepper button--svg increase js--stepper-button" type="button">
    <span class="{{ snippet_name }}__button-icon button__icon">
      {% render 'svg-icon', type: 'chevron' %}
    </span>
  </button>

</div>
