<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>

    {% render 'google-analytics' %}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="author" content="Very Polite">
  	<meta http-equiv="Expires" content="7" />

    <!-- Canonical URL -->
  	<link rel='canonical' href='{{ canonical_url }}'>

    <!-- Icons -->
    <link href='{{ "favicon.ico" | asset_url }}' type='image/x-icon' rel='shortcut icon' />
    <link href='{{ "apple-touch-icon.png" | asset_url }}' type='image/png' rel='apple-touch-icon'>

    <!-- DNS Prefetch -->
    <link rel="dns-prefetch" href='//www.google-analytics.com'>

    <!-- Pre-connect -->
    <link rel='preconnect' href='https://fonts.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://ajax.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>
    <link rel='preconnect' href='https://v.shopify.com' crossorigin>

    {{ content_for_header }}

    <!-- Preload Fonts  -->
    {% render 'theme--preload-fonts', fonts: 'AkkuratMonoLLSub-RegularSubset, AkkuratMonoLLTT-Bold, AkkuratMonoLLWeb-Regular, NotSorrySerif-Bold, SorrySans-BoldExtended' %}

    <!-- SEO -->
    {% assign enable_seo = true %}
    {% if enable_seo %}
      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
      {% render 'theme--meta-tags' %}
    {% else %}
  		<meta name="robots" content="noindex, nofollow">
    {% endif %}

    <script src="{{ 'vendors.min.js' | asset_url }}" defer="defer"></script>

    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript>{{ 'main.css' | asset_url | stylesheet_tag }}</noscript>

    <script>

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if ( Shopify.designMode ) {
        document.documentElement.classList.add('shopify-design-mode');
      }

      window.moneyFormat = {{ shop.money_format | json }};

    </script>

  </head>

  <body class="{% render 'theme--classes' %}">

    {% section 'header' %}

    <main class="{% render 'theme--classes' %} content-for-layout focus-none" role="main" tabindex="-1">

      {% case request.path %}
        {% when '/policies/privacy-policy' %}
          {% section 'policy-privacy' %}
        {% when '/policies/refund-policy' %}
          {% section 'policy-refund' %}
        {% when '/policies/shipping-policy' %}
          {% section 'policy-shipping' %}
        {% when '/policies/subscription-policy' %}
          {% section 'policy-subscription' %}
        {% when '/policies/terms-of-service' %}
          {% section 'policy-terms' %}
        {% else %}
          {{ content_for_layout }}
      {% endcase %}

    </main>

    {% section 'footer' %}
    {% section 'popup' %}
    {% section 'cookie-banner' %}
    {% section 'cart-notification' %}

    <script>

      var Theme = Theme || {};
      Theme.cart = {{ cart | json }};
      Theme.collection = {{ collection | json }} || {};
      Theme.currency = {{ shop.currency | json }};
      Theme.customer = {{ customer | json }} || {};
      Theme.moneyFormat = {{ shop.money_format | json }};
      Theme.orders = [];
      Theme.patterns = {
        image: {{ "VPAGS--product-image-pattern.svg" | asset_url | json }}
      };
      Theme.placeholder = {
        product_images: [
          {{ "VPAGS--placeholder-product-image--01.svg" | asset_url | json }},
          {{ "VPAGS--placeholder-product-image--02.svg" | asset_url | json }},
          {{ "VPAGS--placeholder-product-image--03.svg" | asset_url | json }},
          {{ "VPAGS--placeholder-product-image--04.svg" | asset_url | json }}
        ]
      };
      Theme.product = {{ product | json }} || {};
      Theme.routes = {
        root_url: '{{ routes.root_url }}',
        cart_url: '{{ routes.cart_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

    </script>

    <script src="{{ 'main.min.js' | asset_url }}" defer="defer"></script>

  </body>
</html>
