{%- liquid

  assign section_name = 'custom-liquid'
  assign section_id = section_name | append: '--' | append: section.id
  assign section_classes = section_name | append: ' section-' | append: section.id | append: '-padding'

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign background_colour = section.settings.background | default: ''
  assign custom_liquid = section.settings.custom_liquid | default: false

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

-%}

{%- style -%}

  {% if background_colour != blank %}
    #shopify-section-{{ section.id }} {
      background: rgba(var(--theme-colour-{{ background_colour }}), 1);
      {% case background_colour %}
        {% when 'orange' %}
          color: rgba(var(--theme-colour-black), 1);
        {% when 'white' %}
          color: rgba(var(--theme-colour-black), 1);
        {% else %}
          color: rgba(var(--theme-colour-white), 1);
      {% endcase %}
    }
  {% endif %}

  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 992px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}

<div class="{{ section_classes }}" id="{{ section_id }}">
  <div class="{{ section_name }}__main">
    <div class="{{ section_name }}__content">
      {{ custom_liquid }}
    </div>
  </div>
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Custom Liquid",
    "tag": "section",
    "class": "custom-liquid",
    "settings": [
      {
        "content": "Layout",
        "type": "header"
      },
      {
			  "label": "Background",
			  "type": "select",
			  "options": [
          { "label": "Black", "value": "black" },
				  { "label": "White", "value": "white" }
			  ],
			  "default": "black",
			  "id": "background"
		  },
      {
        "label": "Custom Liquid",
        "type": "liquid",
        "id": "custom_liquid"
      },
      {
			  "content": "Padding",
			  "type": "header"
		  },
		  {
			  "label": "Top Padding",
			  "type": "range",
			  "min": 0,
			  "max": 120,
			  "step": 4,
			  "unit": "px",
			  "default": 36,
        "id": "padding_top"
		  },
		  {
			  "label": "Bottom Padding",
			  "type": "range",
			  "min": 0,
			  "max": 120,
			  "step": 4,
			  "unit": "px",
			  "default": 36,
        "id": "padding_bottom"
		  },
      {
			  "content": "Anchor",
			  "type": "header"
		  },
      {
        "label": "Anchor ID",
        "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
        "type": "text",
        "id": "anchor_id"
      }
    ],
	  "blocks": [],
    "presets": [
      {
        "name": "Custom Liquid"
      }
    ]
  }
{% endschema %}
