{% assign section_name = 'footer' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign street_address = shop.address.address1 | default: '1234 Main St' %}
{% assign suite = shop.address.address2 | default: false %}
{% assign city = shop.address.city | default: false %}
{% assign region_code = shop.address.province_code | default: false %}
{% assign postal = shop.address.zip | default: false %}

{% assign company = shop.address.company %}
{% assign phone = shop.address.phone %}
{% assign email = 'excuseme@weareverypolite.com' %}

<div class="{{ section_name }}__main">

  <div class="{{ section_name }}__address">
    <p><a class="{{ section_name }}__address-link link" href='{%- render 'google-maps-directions-link', address: shop.address -%}' target='_blank' rel='noopener noreferrer'>{% if suite %}{{ suite }}–{% endif %}{{ street_address }}<br>{{ city }} {{ region_code }} {{ postal }}</a></p>
  </div>

  <div class="{{ section_name }}__contact-info">
    <p><a lass="{{ section_name }}__contact-info-link link" href='mailto:{{ email }}'>{{ email }}</a><br><a href='tel:{{ phone }}'>{{ phone }}</a></p>
  </div>

  <div class="{{ section_name }}__legal">
    <p>All The Best™<br>&copy;{{ "today" | date: "%Y" }} {{ company }}</p>
  </div>

</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "class": "footer",
    "settings": [
      {
        "content": "Contact Info",
        "type": "header"
      },
      {
        "label": "Phone",
        "type": "text",
        "id": "phone"
      },
      {
        "label": "Email",
        "type": "text",
        "id": "email"
      },
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_menu"
      },
      {
        "label": "Policies Menu",
        "type": "link_list",
        "id": "policies_menu"
      }
    ],
	  "blocks": []
  }
{% endschema %}
