{%- liquid

  assign section_name = 'footer'
  assign section_id = 'shopify-section-' | append: section.id

  assign aos_id = section_id
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign block_locations = section.blocks | where: 'type', 'location' | default: false
  assign block_locations_count = 0

  assign company = 'Very Polite Agency'
  assign email = 'excuseme@weareverypolite.com'

  if block_locations and block_locations.size > 0
    assign block_locations_count = block_locations.size
  endif

-%}

<div class="{{ section_name }}__main" data-grid-columns-desktop="{{ block_locations_count | plus: 1 }}">

  {% if block_locations_count > 0 %}
    {% for block in block_locations %}

      {%- liquid

        assign city = block.settings.city | default: ''
        assign country = block.settings.country | default: ''
        assign phone = block.settings.phone | default: ''
        assign postal = block.settings.postal | default: ''
        assign region = block.settings.region | default: ''
        assign street_address = block.settings.street_address | default: ''

        capture address_human
          render 'address', location: block, location_name: 'Very Polite Agency' type: 'human'
        endcapture

        capture address_directions
          render 'address', location: block, location_name: 'Very Polite Agency', type: 'directions'
        endcapture

      -%}

      <div class="{{ section_name }}__main-location">

        {% if address_human != blank %}
          <span class="{{ section_name }}__main-location-address">
              <a class="{{ section_name }}__main-link link" href="{{ address_directions }}" target="_blank" title="Find Us">{{ address_human }}</a>
            </span>
        {% endif %}

        {% if phone != blank %}
          <span class="{{ section_name }}__main-location-phone">
            <a class="{{ section_name }}__main-link link" href="tel:{{ phone }}" target="_self" title="Call Us">{{ phone }}</a>
          </span>
        {% endif %}

      </div>

    {% endfor %}
  {% endif %}

  <div class="{{ section_name }}__main-contact">
    {% if email != blank %}
      <span class="{{ section_name }}__main-contact-email">
        <a class="{{ section_name }}__main-link link" href="mailto:{{ email }}" target="_self" title="Email Us">{{ email }}</a>
      </span>
    {% endif %}
    <span class="{{ section_name }}__main-contact-copyright">&copy {{ "now" | date: "%Y" }} {{ company }}</span>
    <span class="{{ section_name }}__main-contact-tagline">All The Best™</span>
  </div>

</div>

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "class": "footer",
    "settings": [
      {
        "content": "Contact Info",
        "type": "header"
      },
      {
        "label": "Phone",
        "type": "text",
        "id": "phone"
      },
      {
        "label": "Email",
        "type": "text",
        "id": "email"
      },
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_menu"
      },
      {
        "label": "Policies Menu",
        "type": "link_list",
        "id": "policies_menu"
      }
    ],
	  "blocks": [
      {
        "name": "Location",
        "type": "location",
        "settings": [
          {
            "content": "Contact",
            "type": "header"
          },
          {
            "label": "Phone",
            "type": "text",
            "id": "phone"
          },
          {
            "content": "Address",
            "type": "header"
          },
          {
            "label": "Street Address",
            "type": "text",
            "id": "street_address"
          },
          {
            "label": "City",
            "type": "text",
            "id": "city"
          },
          {
            "label": "Region",
            "type": "text",
            "id": "region"
          },
          {
            "label": "Postal",
            "type": "text",
            "id": "postal"
          },
          {
            "label": "Country",
            "type": "text",
            "id": "country"
          }
        ]
      }
    ]
  }
{% endschema %}
