{%- liquid

  assign section_name = 'header'
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign announcements = section.blocks | where: 'type', 'announcement' | default: false
  assign announcements_enabled = section.settings.announcements_enabled | default: false
  assign announcements_homepage_only = section.settings.announcements_homepage_only | default: false
  assign announcements_glider_id = section_id | append: '--announcements-glider'
  assign is_glider = false

-%}

{% if announcements_enabled and announcements %}

  {% if announcements.size > 1 %}
    {% assign is_glider = true %}
  {% endif %}

  <div class="{{ section_name }}__announcements">
    {% render 'bs-container', state: 'open' %}
      <div class="{{ section_name }}__announcements-layout">

        {% if is_glider %}
          <div class="glide js--glider" id="{{ glider_id }}" data-glide-style="{{ section_name }}-announcements">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                {% endif %}

                  {% for item in announcements %}

                    {% assign message = item.settings.title | default: '' %}

                    {% if message != blank %}
                      {% if is_glider %}<li class="glide__slide">{% endif %}
                        <div class="{{ section_name }}__announcements-item caption caption--2">{{ message }}</div>
                      {% if is_glider %}</li>{% endif %}
                    {% endif %}

                  {% endfor %}

                {% if is_glider %}
              </ul>
            </div>
          </div>
        {% endif %}

        <button class="{{ section_name }}__announcements-button-close" type="button" title="Hide Announcements"></button>

      </div>
    {% render 'bs-container', state: 'closed' %}
  </div>

{% endif %}

<div class="{{ section_name }}__main">
  {% render 'bs-container', state: 'open' %}
    <div class="{{ section_name }}__layout">

      <div class="{{ section_name }}__brand">
        <a class="{{ section_name }}__brand-link gift-shop" href="/" target="_self" title="Very Polite Gift Shop">
          <!--?xml version="1.0" encoding="UTF-8"?-->
          <svg viewBox="0 0 746.7 100" fill="#111111">
          <polygon points="0 25.56 25.61 25.56 25.62 81 42.62 81 42.62 25.56 68.24 25.56 68.24 11 0 11 0 25.56"></polygon>
          <path d="M114.46,28.76c-4.34-.15-8.62,1-12.3,3.3-3.26,2.11-5.86,5.09-7.51,8.61h-.6V11h-16.21V81h16.21v-20.82c0-7.4,1.23-12.52,3.7-15.36,2.43-2.81,6-4.38,9.71-4.25,6.87,0,10.3,4,10.3,12v28.43h16.21V48.37c0-6.14-1.62-10.94-4.85-14.41-3.23-3.47-8.12-5.2-14.66-5.2Z"></path>
          <path d="M175.7,28.76c-5.9-.14-11.75,1.01-17.16,3.36-4.53,1.98-8.38,5.23-11.1,9.36-2.62,4.19-3.96,9.06-3.85,14-.11,4.96,1.23,9.84,3.85,14.05,2.69,4.15,6.56,7.41,11.1,9.36,5.48,2.33,11.4,3.45,17.36,3.3,7.21,0,13.24-1.37,18.11-4.1,4.67-2.53,8.47-6.4,10.91-11.11l-14.41-5.1c-1.06,2.9-2.89,5.46-5.3,7.4-2.21,1.67-5.31,2.5-9.31,2.5-4.53,0-8.08-1.21-10.65-3.6s-4.09-5.73-4.55-10h44.91c.4-9.34-1.97-16.58-7.1-21.71-5.13-5.14-12.74-7.71-22.81-7.71Zm-14.61,21.51c.5-3.38,2.2-6.48,4.8-8.7h0c2.47-2,5.73-3,9.8-3,8.01,0,12.44,3.9,13.31,11.7h-27.91Z"></path>
          <path d="M275.99,24.56c10.6,0,17.84,3.94,21.71,11.81l15.62-5.77c-2.94-6.53-7.91-11.93-14.16-15.41-6.37-3.6-14.13-5.4-23.26-5.4-7.23-.14-14.39,1.4-20.92,4.5-5.83,2.8-10.74,7.21-14.15,12.71-3.42,5.74-5.15,12.32-5,19-.15,6.73,1.47,13.38,4.7,19.29,3,5.38,7.52,9.75,13,12.56,5.94,2.99,12.51,4.48,19.16,4.35,6.47,0,11.99-1.17,16.55-3.5,4.22-2.01,7.73-5.26,10.06-9.31l1.4,11.61h12.32V42.87h-32.32v13.44h15.06c-.79,3.61-3.13,6.68-6.4,8.4-3.82,1.91-8.05,2.84-12.31,2.7-7.8,0-13.72-1.83-17.76-5.5-4.04-3.67-6.06-8.97-6.06-15.91,.03-6.76,2.1-12.02,6.2-15.79s9.62-5.65,16.56-5.65Z"></path>
          <rect x="325.97" y="30" width="16.21" height="51"></rect>
          <rect x="325.17" y="11" width="17.81" height="13"></rect>
          <path d="M437.6,69.63c-1.85,.71-3.81,1.1-5.8,1.15-2.27,0-3.88-.55-4.85-1.65-.97-1.1-1.45-3.05-1.45-5.85v-21.91h18.91v-11.37h-18.91V14h-11.71l-3,16h-11.41v11.37h9.91v23.61c0,11.47,6.13,17.21,18.41,17.21,3.16,.04,6.31-.26,9.4-.9,2.77-.61,5.45-1.55,8-2.8l-2.19-11.71c-1.6,1.24-3.39,2.21-5.31,2.85Z"></path>
          <path d="M386.8,21.16c4.03,.01,7.97,1.23,11.3,3.5l2.4-12.11c-5.04-1.92-10.4-2.87-15.8-2.8-6.87,.03-12.33,1.78-16.36,5.25-4.03,3.47-6.28,8.47-6.75,15h-10.4v11.37h10.3v39.63h16.21V41.37h19.91v-11.41h-19.91c.13-3.13,.93-5.38,2.4-6.75,1.47-1.37,3.71-2.05,6.7-2.05Z"></path>
          <path d="M536.91,45.97c-4.03-3.34-10.59-5.74-19.66-7.2l-14.81-2.4c-3.71-.61-6.3-1.32-7.71-2.16-1.37-.78-2.19-2.27-2.1-3.85,0-1.86,1.17-3.37,3.51-4.5,2.33-1.13,5.7-1.7,10.1-1.7,4.54-.08,9.06,.7,13.31,2.3,3.94,1.59,7.52,3.97,10.5,7l11.81-10.6c-4.21-4.41-9.41-7.75-15.16-9.76-6.3-2.26-12.95-3.39-19.65-3.35-5.44-.1-10.86,.76-16,2.55-4.21,1.41-7.95,3.95-10.8,7.36-2.58,3.23-3.94,7.27-3.85,11.4,0,5.81,1.92,10.29,5.75,13.46,3.83,3.17,9.79,5.42,17.86,6.75l15.71,2.61c3.59,.6,6.18,1.38,7.75,2.35,1.5,.84,2.4,2.44,2.35,4.15,0,2.07-1.2,3.77-3.6,5.1-2.4,1.33-5.87,2-10.4,2-5.33,.08-10.6-1.07-15.41-3.35-4.48-2.14-8.47-5.19-11.71-8.95l-11.95,10.82c4.21,5.23,9.66,9.32,15.86,11.89,7.11,2.92,14.74,4.34,22.43,4.2,5.64,.1,11.25-.82,16.56-2.7,4.4-1.5,8.31-4.16,11.31-7.71,2.68-3.34,4.1-7.52,4-11.8,.03-5.93-1.97-10.57-6-13.91Z"></path>
          <path d="M591.02,28.76c-4.34-.15-8.63,1-12.31,3.3-3.26,2.11-5.86,5.09-7.5,8.61h-.6V11h-16.21V81h16.21v-20.82c0-7.4,1.23-12.52,3.7-15.36,2.42-2.81,5.99-4.37,9.7-4.25,6.87,0,10.31,4,10.31,12v28.43h16.21V48.37c0-6.14-1.62-10.94-4.86-14.41-3.24-3.47-8.12-5.2-14.65-5.2Z"></path>
          <path d="M661.01,31.87c-8.45-4.87-18.86-4.87-27.31,0-4.11,2.38-7.53,5.8-9.91,9.91-4.87,8.45-4.87,18.86,0,27.31,2.38,4.11,5.8,7.53,9.91,9.91,8.45,4.86,18.85,4.86,27.3,0,4.12-2.38,7.54-5.8,9.92-9.91,4.87-8.45,4.87-18.86,0-27.31-2.38-4.11-5.8-7.53-9.91-9.91Zm5.95,34.87c-1.99,3.42-4.84,6.27-8.26,8.26-6.99,4.07-15.62,4.07-22.61,0-3.42-1.99-6.27-4.84-8.26-8.26-4.07-6.99-4.07-15.62,0-22.61,1.99-3.42,4.84-6.26,8.26-8.25,6.98-4.08,15.63-4.08,22.61,0,3.42,1.99,6.27,4.83,8.26,8.25,4.07,6.99,4.07,15.62,0,22.61Z"></path>
          <path d="M661.25,56.84c-.93,0-1.6,.56-2,1.7-.77,2.82-2.48,5.29-4.85,7-4.27,2.87-9.84,2.87-14.11,0-2.37-1.71-4.08-4.18-4.85-7-.4-1.14-1.07-1.7-2-1.7-.27-.01-.54,.02-.8,.1-.5,.11-.94,.39-1.25,.8-.3,.4-.46,.9-.45,1.4-.01,.3,.02,.61,.1,.9,1.02,3.49,3.12,6.57,6,8.8h-.1c6.2,4.4,14.51,4.4,20.71,0,2.88-2.23,4.98-5.31,6-8.8,.08-.29,.12-.6,.11-.9,.02-.64-.26-1.24-.75-1.65-.48-.43-1.11-.66-1.76-.65Z"></path>
          <path d="M652.7,50.37c.77,.77,1.81,1.19,2.9,1.16,1.09,0,2.13-.43,2.9-1.2,1.6-1.6,1.6-4.2,0-5.8-1.6-1.6-4.2-1.6-5.8,0s-1.6,4.2,0,5.8v.04Z"></path>
          <path d="M636.24,50.37c.78,.78,1.85,1.2,2.95,1.16,1.09,0,2.13-.43,2.9-1.2,1.6-1.6,1.6-4.2,0-5.8-1.6-1.6-4.2-1.6-5.8,0s-1.6,4.2,0,5.8l-.05,.04Z"></path>
          <path d="M743.44,41.13c-2.05-3.88-5.17-7.08-9-9.21-4.04-2.18-8.57-3.29-13.16-3.2-4.14-.06-8.22,.95-11.85,2.95-3.58,2.06-6.41,5.22-8.06,9h-.6v-10.67h-16V100h16.21v-27.72h.6c2.1,3.11,4.96,5.62,8.31,7.31,3.54,1.76,7.45,2.66,11.4,2.6,4.59,.09,9.12-1.02,13.16-3.2,3.83-2.13,6.96-5.33,9-9.21,2.27-4.42,3.38-9.34,3.25-14.3,.14-4.98-.98-9.92-3.26-14.35Zm-17.3,25.87v-.07c-2.51,2.71-5.96,4.11-10.36,4.18-3.84,.16-7.57-1.29-10.3-4-2.61-2.67-3.91-6.33-3.91-11v-1.2c0-4.61,1.31-8.24,3.91-10.91,2.72-2.72,6.46-4.17,10.3-4,4.41,0,7.86,1.33,10.36,4,2.5,2.77,3.75,6.62,3.75,11.55s-1.25,8.75-3.75,11.45Z"></path>
        </svg>
        </a>
        <a class="{{ section_name }}__brand-link very-polite" href="https://weareverypolite.com" target="_blank" title="Very Polite Agency">
          <!--?xml version="1.0" encoding="UTF-8"?-->
          <svg viewBox="0 0 882.58 100">
  <defs><style>.vp-logo{fill:#111;}.vp-strikethrough{fill:#272223;}</style></defs>
  <g>
    <path class="vp-logo" d="M116.78,59.85h-.01c-5.09,0-9.22,4.14-9.21,9.23,0,5.09,4.14,9.22,9.23,9.21,5.09,0,9.22-4.14,9.21-9.23,0-5.09-4.13-9.21-9.22-9.21Z"></path>
    <path class="vp-logo" d="M257.28,6c-2.35-1.36-4.87-2.42-7.48-3.17-3.31-.98-6.7-1.69-10.13-2.1-3.54-.48-7.1-.72-10.67-.73h-59.76l12.26,12.61v53.06l-12.26,12.61h50l-12.24-12.58v-21.6h18.69c7.77,.14,15.52-.69,23.08-2.47,6.35-1.64,11.17-4.07,14.46-7.28,3.21-3.04,5-7.29,4.93-11.71,.01-3.37-.99-6.66-2.88-9.45-2.05-3.01-4.79-5.47-8-7.19Zm-14.9,15.12c0,7.29-1.64,12.65-4.93,16.09l-.05-.02c-1.82,1.76-4.07,3.02-6.53,3.64-3.34,.85-6.78,1.24-10.22,1.17h-13.65V2.07h16.61c3.58-.12,7.14,.61,10.39,2.13,2.74,1.37,4.95,3.61,6.28,6.36,1.5,3.31,2.22,6.93,2.1,10.56Z"></path>
    <path class="vp-logo" d="M385.45,16c-4.91-5.27-10.96-9.34-17.68-11.9-7.31-2.79-15.08-4.18-22.91-4.1-6.24-.02-12.44,1.05-18.32,3.15-5.67,1.99-10.97,4.95-15.64,8.73-4.39,3.51-8.04,7.85-10.74,12.78-2.52,4.56-3.86,9.68-3.88,14.89,.05,6.97,2.41,13.72,6.72,19.2,4.76,6.2,10.99,11.1,18.14,14.25,7.67,3.54,16.03,5.35,24.48,5.29,8.55,.07,17.01-1.73,24.78-5.29,7.16-3.14,13.41-8.06,18.14-14.28,4.34-5.66,6.69-12.59,6.69-19.72-.01-4.15-.87-8.26-2.53-12.07-1.75-4.05-4.2-7.75-7.25-10.93Zm-16.45,33.47c-.17,3.13-.53,6.24-1.08,9.32-.52,2.72-1.46,5.33-2.79,7.76-1.66,3.06-4.21,5.53-7.32,7.1-3.59,1.66-7.52,2.46-11.48,2.33-7.27,0-12.72-1.66-16.27-5-3.11-2.71-5.22-6.67-6.33-11.87-.47-2.63-.78-5.28-.94-7.95-.22-3.17-.33-6-.33-8.49,0-4.59,.14-8.96,.43-13.1,.19-3.32,.57-6.62,1.14-9.9,.55-2.78,1.49-5.48,2.79-8,1.65-3.05,4.23-5.51,7.37-7,3.12-1.48,7.23-2.23,12.32-2.23,5.7,0,10.2,1.1,13.49,3.29,3.33,2.17,5.73,5.76,7.2,10.76s2.21,11.74,2.21,20.23c0,4.5-.14,8.75-.41,12.75Z"></path>
    <polygon class="vp-logo" points="460.98 76.2 460.98 12.59 473.23 0 460.98 0 435.65 0 423.38 0 435.65 12.59 435.65 65.67 423.38 78.28 435.65 78.28 492.31 78.28 518.88 78.28 522.31 78.28 522.31 47.45 494.33 76.2 460.98 76.2"></polygon>
    <polygon class="vp-logo" points="594.79 13.72 594.79 12.58 607.04 0 594.79 0 594.77 0 586.53 0 576.13 0 569.44 0 569.41 0 557.17 0 569.41 12.58 569.41 13.72 569.41 64.35 569.41 65.69 557.17 78.28 569.41 78.28 577.56 78.28 587.96 78.28 594.79 78.28 607.04 78.28 594.79 65.69 594.79 64.35 594.79 13.72"></polygon>
    <polygon class="vp-logo" points="643.72 0 643.41 0 643.41 30.83 671.5 1.96 680.29 1.96 680.29 65.6 680.29 65.68 668.03 78.28 680.29 78.28 705.68 78.28 717.91 78.28 705.68 65.7 705.68 1.96 714.25 1.96 742.33 30.83 742.33 0 740.56 0 643.72 0"></polygon>
    <polygon class="vp-logo" points="855.59 2.19 878.04 24.04 878.04 0 877.8 0 872.74 0 858.69 0 853.34 0 807.91 0 805.18 0 791.38 0 779.11 0 791.38 12.61 791.38 15.54 791.38 64.81 791.38 65.67 779.11 78.28 791.38 78.28 805.18 78.28 854 78.28 857.73 78.28 876.85 78.28 878.04 78.28 878.04 53.58 856.13 76.09 816.59 76.09 816.59 40.31 816.59 40.16 832.87 40.16 850.52 57.33 850.52 39.14 850.52 20.95 833.02 37.97 816.59 37.97 816.59 2.19 855.59 2.19"></polygon>
    <polygon class="vp-logo" points="87.87 0 76.87 0 89.14 12.61 64.89 53.31 37.95 12.61 37.97 12.57 37.97 12.61 50.23 0 44.14 0 37.97 0 .59 0 53.21 78.28 99.52 0 89.14 0 87.87 0"></polygon>
  </g>
  <path class="vp-strikethrough" d="M140.84,46.77c98.57-2.82,197.14-5.63,295.72-8.42,49.29-1.41,98.58-2.85,147.86-4.3,48.9-1.44,97.81-3.6,146.75-3.23,27.5,.22,55.11,.83,82.41,4.36,13.45,1.74,27,3.16,40.34,5.61,4.06,.75,8.15,1.45,12.19,2.29,2.13,.45,7.87,1.52,8.2,3.21l3-5.2c-26.46,5-53.89,3-80.58,1.21-28.88-1.95-57.66-5.12-86.45-8.13-57.45-6-115.02-10.49-172.71-13.48-57.75-3-115.57-4.64-173.39-5.44s-115.42-.45-173,3c-55.87,3.35-111.95,10.13-166.35,23.32-6.38,1.51-12.66,3.39-18.83,5.61-3.49,1.27-4.51,7.39,0,8.15,11.58,1.93,23.51,.46,35.17,.18,12.56-.31,25.12-.37,37.68-.26,25.36,.22,50.73,1,76.07,1.86,50.86,1.73,101.68,4.14,152.53,5.89,101,3.47,202.23,3.23,303.28,.33,55.9-1.61,111.83-3.57,166.92-14,5.33-1,3.07-9.16-2.25-8.15-48.65,9.22-98,11.58-147.35,13.18-50.2,1.61-100.42,2.49-150.67,2.64-50.28,.17-100.57-.26-150.83-1.81s-100.55-3.93-150.79-5.79c-28.29-1-56.58-2-84.89-2.45-13.7-.22-27.4-.28-41.1-.07-6.85,.11-13.71,.27-20.56,.55s-14,.9-20.93-.25v8.15c12.39-4.53,25.31-7.22,38.23-9.74,13.53-2.64,27-5.43,40.63-7.7,28.51-4.76,57.27-7.88,86.1-10,57.45-4.22,115.15-4.89,172.76-4.4,57.83,.53,115.68,2,173.44,4.75s115.35,6.76,172.84,12.54c28.51,2.85,57,6.15,85.54,8.54,27.29,2.29,55.15,4.73,82.52,2.49,6.43-.52,12.83-1.37,19.17-2.56,2.36-.45,3.36-3.12,3-5.2-1.32-6.76-10.43-8.45-16-9.49-9.82-1.84-19.65-3.53-29.56-4.83-24.31-3.17-48.48-5.9-73-6.73-50-1.67-100.08,.08-150.09,1.69-100.86,3.25-201.72,5.92-302.54,8.78l-170.48,4.84c-5.43,.16-5.45,8.61,0,8.46Z"></path>
</svg>
        </a>
      </div>

      <button class="{{ section_name }}__hamburger hamburger js-mobile-menu-trigger" type="button">
        <span class="hamburger__main">
          <span class="hamburger__stroke top"></span>
          <span class="hamburger__stroke bottom"></span>
        </span>
      </button>

    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "content": "Announcements",
        "type": "header"
      },
      {
        "label": "Show announcements",
      	"type": "checkbox",
        "default": true,
        "id": "announcements_enabled"
      },
      {
        "label": "Homepage only",
      	"type": "checkbox",
        "default": false,
        "id": "announcements_homepage_only"
      }
    ],
    "blocks": [
      {
        "name": "Announcement",
        "type": "announcement",
        "limit": 5,
        "settings": [
          {
            "label": "Message",
            "type": "richtext",
            "id": "title"
          }
        ]
      }
    ]
  }
{% endschema %}
