{%- liquid

  assign section_name = 'main-products'
  assign section_classes = section_name | append: ' section-' | append: section.id | append: '-padding'
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign background_colour = section.settings.background | default: 'white'
  assign container = section.settings.container | default: 'container'

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

-%}

{% render 'json-ld', type: 'product' %}

<form action="/cart/add" method="post" enctype="multipart/form-data">
  {% render 'bs-container', state: 'open', container: container %}

    <div class="sticky-column">
      <div class="sticky-column__container">

        <div class="sticky-column__column sticky-column__column--scroll" data-column-width="two-thirds">
          <div class="sticky-column__main">
            <div class="sticky-column__content">

              <div class="product__info product__info--intro d-lg-none">
                <h1 class="product__title">{{ title }}</h1>
                {% render 'product--cost', price: price, price_compare: price_compare %}
              </div>

              {% if tags %}
                {% for tag in tags %}
                  {% if 'Natures' == tag %}
                    {% render 'badge', classes: 'd-none d-lg-block', type: tag %}
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% if product.media.size > 0 %}

                {% comment %}

                  //////////////////////////////////////////////////////////
                  ////  Mobile
                  //////////////////////////////////////////////////////////

                {% endcomment %}

                <div class="product__media product__media--mobile">

                  {% if tags %}
                    {% for tag in tags %}
                      {% if 'Natures' == tag %}
                        {% render 'badge', classes: 'd-lg-none', type: tag %}
                        {% break %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  {% if product.media.size == 1 %}
                    {% assign featured_media = product.featured_media %}
                    {% render 'content--product-media', class_modified: 'featured', media: featured_media, product: product, show_badge: false, with_pattern: false %}
                  {% else %}

                    {% assign media_items = product.media %}

                    <div class="glide js--glider" id="product__media-gallery">

                      <div class="glide__expand" data-product-image-index='1' data-bs-toggle="modal" data-bs-target="#modal--product-media">
                        <img src='{{ "VPAGS--icon--expand--black.svg" | asset_url }}' alt='Expand' />
                      </div>

                      <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                          {% for media in media_items %}
                            <li class='glide__slide' data-index='{{ forloop.index }}'>
                              {% assign show_badge = false %}
                              {% if forloop.first %}
                                {% assign show_badge = true %}
                              {% endif %}
                              {% render 'content--product-media', class_modified: 'gallery', media: media, product: product, show_badge: false, with_pattern: false %}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>

                      <ul class="glide__thumbnail-list">
                        {% for media in media_items %}
                          <li class="glide__thumbnail" data-index="{{ forloop.index0 }}" data-glide-id="product__media-gallery"></li>
                        {% endfor %}
                      </ul>

                    </div>

                  {% endif %}

                </div>

                {% comment %}

                  //////////////////////////////////////////////////////////
                  ////  Desktop
                  //////////////////////////////////////////////////////////

                {% endcomment %}

                <div class="product__media product__media--desktop">

                  {% for media in product.media %}
                    {% assign media_id = 'product__media-item--' %}
                    {% if forloop.index < 10 %}
                      {% assign media_id = media_id | append: '0' | append: forloop.index %}
                    {% else %}
                      {% assign media_id = media_id | append: forloop.index %}
                    {% endif %}
                    <div data-bs-toggle="modal" data-bs-target="#modal--product-media" data-product-image-index='{{ forloop.index }}' data-product-image-id='{{ media_id }}'>
                      {%
                        render 'content--product-media',
                        class_modified: 'modal',
                        id: media_id,
                        media: media,
                        product: product,
                        show_badge: false,
                        with_pattern: false
                      %}
                    </div>

                  {% endfor %}
                </div>

              {% endif %}

            </div>
          </div>
        </div>
        <!-- /.sticky-column__column -->

        <div class="sticky-column__column sticky-column__column--stuck" data-column-width="one-third">
          <div class="sticky-column__main">
            <div class="sticky-column__content">

              <div class="product__info product__info--intro d-none d-lg-block">
                <h2 class="product__title">{{ title }}</h2>
                {% render 'product--cost', price: price, price_compare: price_compare %}
              </div>

              <div class="product__info product__info--description">
                <div class="product__description message rte">{{ desc }}</div>
              </div>

              <div class="product__info product__info--options">

                {% if product.has_only_default_variant %}
                  <input class="product__variant d-none" type="radio" name="id" value="{{ product.first_available_variant.id }}" checked readonly>
                {% else %}
                  <div class="product__variants">
                    <ul class="product__variant-list">
                      {% for variant in product.variants %}
                        <li class="product__variant-item radio {% unless variant.available %}unavailable{% endunless %}">
                          <label {% unless variant.available %}disabled{% endunless %}>
                            <input class="radio__input" type="radio" name="id" value="{{ variant.id }}" {% unless variant.available %}disabled{% endunless %}>
                            <div class="radio__item">
                              <div class="radio__title">{{ variant.title }}</div>
                              {% unless variant.available %}<span class="radio__strike-through"></span>{% endunless %}
                            </div>
                          </label>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

              </div>

              <div class="product__info product__info--actions">

                {% assign button_enabled = false %}
                {% if product.has_only_default_variant and product.available %}
                  {% assign button_enabled = true %}
                {% endif %}

                <button
                  class="product__button product__button--add-to-cart button button--outline button--black js--add-to-cart"
                  type="submit"
                  name="add" {% unless button_enabled %}disabled{% endunless %}
                >
                  <span class="button__title">{% if product.available %}Add to Bag{% else %}Sold Out!{% endif %}</span>
                </button>
                <input class="d-none" type="number" id="Quantity" name="quantity" value="1" min="1" readonly>

              </div>

            </div>
          </div>
        </div>
        <!-- /.sticky-column__column -->

      </div>
    </div>

  {% render 'bs-container', state: 'closed', container %}
</form>

{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "class": "section",
  "settings": [
    {
			"content": "Layout",
			"type": "header"
		},
    {
		  "label": "Background",
		  "type": "select",
		  "options": [
        { "label": "Black", "value": "black" },
			  { "label": "White", "value": "white" }
		  ],
		  "default": "white",
		  "id": "background"
		},
    {
      "label": "Container",
      "type": "select",
      "options": [
        { "label": "Static", "value": "container" },
        { "label": "Fluid", "value": "container-fluid" },
        { "label": "Full Width", "value": "full-width" }
      ],
      "default": "container",
      "id": "container"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
