{%- liquid

  assign section_name = 'collections-hero'
  assign section_classes = section_name | append: ' section-' | append: section.id | append: '-padding'
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign container = section.settings.container | default: 'container'
  assign description = collection.description | default: ''
  assign featured_image = collection.featured_image | default: false
  assign image_height_desktop = section.settings.image_height_desktop | default: 'adapt'
  assign image_height_mobile = section.settings.image_height_mobile | default: 'adapt'
  assign layout = section.settings.layout | default: 'two-column'
  assign title = collection.title | default: ''

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

-%}

{%- style -%}

  {% if background_colour != blank %}
    #shopify-section-{{ section.id }} {
      background: rgba(var(--theme-colour-{{ background_colour }}), 1);
      {% case background_colour %}
        {% when 'orange' %}
          color: rgba(var(--theme-colour-black), 1);
        {% when 'white' %}
          color: rgba(var(--theme-colour-black), 1);
        {% else %}
          color: rgba(var(--theme-colour-white), 1);
      {% endcase %}
    }
  {% endif %}

  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 992px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}

<div class="{{ section_classes }}" id="{{ section_id }}">
  {% render 'bs-container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1', container: container %}
    <div class="{{ section_name }}__main">
      {% if featured_image %}
        <div class="{{ section_name }}__media media media--mobile-{{ image_height_mobile }} media--desktop-{{ image_height_desktop }}">
          {% render 'lazyload-image', image: featured_image %}
        </div>
      {% endif %}
      <div class="{{ section_name }}__content">
        <h1>{{ title }}</h1>
      </div>
    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "Collection Hero",
  "tag": "section",
  "class": "section section--collection-hero",
  "templates": [ "collection" ],
  "settings": [
    {
			"content": "Media",
			"type": "header"
		},
     {
      "label": "Image Height (Desktop)",
      "type": "select",
      "options": [
        { "label": "Adapt to image", "value": "adapt" },
        { "label": "950px", "value": "950px" },
        { "label": "850px", "value": "850px" },
        { "label": "750px", "value": "750px" },
        { "label": "650px", "value": "650px" },
        { "label": "550px", "value": "550px" },
        { "label": "450px", "value": "450px" }
      ],
      "default": "adapt",
      "id": "image_height_desktop"
    },
    {
      "label": "Image Height (Mobile)",
      "type": "select",
      "options": [
        { "label": "Adapt to image", "value": "adapt" },
        { "label": "650px", "value": "650px" },
        { "label": "550px", "value": "550px" },
        { "label": "450px", "value": "450px" },
        { "label": "350px", "value": "350px" }
      ],
      "default": "adapt",
      "id": "image_height_mobile"
    },
    {
			"content": "Layout",
			"type": "header"
		},
    {
		  "label": "Background",
		  "type": "select",
		  "options": [
        { "label": "Black", "value": "black" },
			  { "label": "White", "value": "white" }
		  ],
		  "default": "white",
		  "id": "background"
		},
    {
      "label": "Container",
      "type": "select",
      "options": [
        { "label": "Static", "value": "container" },
        { "label": "Fluid", "value": "container-fluid" },
        { "label": "Full Width", "value": "full-width" }
      ],
      "default": "container",
      "id": "container"
    },
    {
			"content": "Padding",
			"type": "header"
		},
		{
			"label": "Top Padding",
			"type": "range",
			"min": 0,
			"max": 120,
			"step": 4,
			"unit": "px",
			"default": 36,
      "id": "padding_top"
		},
		{
			"label": "Bottom Padding",
			"type": "range",
			"min": 0,
			"max": 120,
			"step": 4,
			"unit": "px",
			"default": 36,
      "id": "padding_bottom"
		},
    {
			"content": "Anchor",
			"type": "header"
		},
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ]
}
{% endschema %}
