{%- liquid

  assign section_name = 'main-product'
  assign section_classes = section_name | append: ' section-' | append: section.id | append: '-padding'
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign background_colour = section.settings.background | default: 'white'
  assign container = section.settings.container | default: 'container'

  assign product_images = false
  assign product_gallery = false
  assign product_modal_id = section_id | append: '--modal'
  assign product_shop_button_enabled = false
  if product.has_only_default_variant and product.available
    assign product_shop_button_enabled = true
  endif

  if product.images.size > 0
    assign product_images = true
    if product.images.size > 1
      assign product_gallery = true
    endif
  endif

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

-%}

{% render 'json-ld', type: 'product' %}

<div class="{{ section_classes }}" id="{{ section_id }}">
  <form action='/cart/add' method='post' enctype='multipart/form-data'>
    {% render 'bs-container', state: 'open', container: container %}

      <div class='sticky-column'>
        <div class='sticky-column__container'>

          <div class='sticky-column__column sticky-column__column--scroll' data-column-width='two-thirds'>
            <div class='sticky-column__main'>
              <div class='sticky-column__content'>

                <div class='{{ section_name }}__info intro d-lg-none'>
                  <h1 class='{{ section_name }}__title heading--1'>{{ product.title }}</h1>
                  {% render 'price', classes: 'main-product__price' compare_at: product.compare_at_price, price: product.price %}
                </div>

                {% for tag in product.tags %}
                  {% if 'Natures' == tag %}
                    {% render 'badge', classes: 'd-none d-lg-block', type: tag %}
                    {% break %}
                  {% endif %}
                {% endfor %}

                {% if product_images %}

                  <div class='{{ section_name }}__images d-lg-none'>

                    {% for tag in product.tags %}
                      {% if 'Natures' == tag %}
                        {% render 'badge', classes: 'd-lg-none', type: tag %}
                        {% break %}
                      {% endif %}
                    {% endfor %}

                    {% if product_gallery %}
                      <div class='glide js--glider' id='product__media-gallery'>
                    {% endif %}

                      {% if product_gallery %}
                        <button class='glide__button-open-modal' data-product-image-index='1' data-bs-target='#{{ product_modal_id }}' data-bs-toggle='modal'>
                          {% render 'svg-icon', type: 'close' %}
                        </button>
                      {% endif %}

                      {% if product_gallery %}
                        <div class='glide__track' data-glide-el='track'>
                        <ul class='glide__slides'>
                      {% endif %}

                        {% for image in product.images %}

                          {%- liquid
                            assign show_badge = false
                            if forloop.first
                              assign show_badge = true
                            endif
                          -%}

                          {% if product_gallery %}<li class='glide__slide' data-index='{{ forloop.index }}'>{% endif %}
                            <div class='{{ section_name }}__images-item'>
                              {% render 'lazyload-image', alt_text: product.title, image: image %}
                            </div>
                          {% if product_gallery %}</li>{% endif %}

                        {% endfor %}

                      {% if product_gallery %}
                        </ul>
                        </div>
                      {% endif %}

                      {% if product_gallery %}
                        <ul class='glide__thumbnail-list'>
                          {% for image in product.images %}
                            <li class='glide__thumbnail' data-index='{{ forloop.index0 }}' data-glide-id='product__media-gallery'></li>
                          {% endfor %}
                        </ul>
                      {% endif %}

                    {% if product_gallery %}
                      </div>
                    {% endif %}

                  </div>

                  <div class='{{ section_name }}__images d-none d-lg-block'>
                    <div class='{{ section_name }}__grid'>
                      {% for image in product.images %}

                        {% assign image_id = section_name | append: '__images-item-modail-id-' | append: image.id %}

                        <div
                          class='{{ section_name }}__grid-item'
                          data-bs-target='#{{ product_modal_id }}'
                          data-bs-toggle='modal'
                          data-product-image-id='{{ image_id }}'
                          data-product-image-index='{{ forloop.index }}'
                        >
                          {% render 'lazyload-image', alt_text: product.title, image: image %}
                        </div>

                      {% endfor %}
                    </div>
                  </div>

                {% endif %}

              </div>
            </div>
          </div>

          <div class='sticky-column__column sticky-column__column--stuck' data-column-width='one-third'>
            <div class='sticky-column__main'>
              <div class='sticky-column__content'>

                <div class='{{ section_name }}__info intro d-none d-lg-block'>
                  <strong class='{{ section_name }}__title heading--1'>{{ product.title }}</strong>
                  {% render 'price', classes: 'main-product__price' compare_at: product.compare_at_price, price: product.price %}
                </div>

                <div class='{{ section_name }}__info description'>
                  <div class='{{ section_name }}__description body-copy--1'>{{ product.description }}</div>
                </div>

                <div class='{{ section_name }}__info options'>

                  {% if product.has_only_default_variant %}
                    <input class='product__variant d-none' type='radio' name='id' value='{{ product.first_available_variant.id }}' checked readonly>
                  {% else %}
                    <div class='product__variants'>
                      <ul class='product__variant-list'>
                        {% for variant in product.variants %}
                          <li class='product__variant-item radio {% unless variant.available %}unavailable{% endunless %}'>
                            <label {% unless variant.available %}disabled{% endunless %}>
                              <input class='radio__input' type='radio' name='id' value='{{ variant.id }}' {% unless variant.available %}disabled{% endunless %}>
                              <div class='radio__item'>
                                <div class='radio__title'>{{ variant.title }}</div>
                                {% unless variant.available %}<span class='radio__strike-through'></span>{% endunless %}
                              </div>
                            </label>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}

                  <input class='d-none' type='number' id='Quantity' name='quantity' value='1' min='1' readonly>

                </div>

                <div class='{{ section_name }}__info actions'>

                  <button
                    class='{{ section_name }}__button-add-to-cart js-add-to-cart'
                    type='submit'
                    name='add'
                    {% unless product_shop_button_enabled %}disabled{% endunless %}
                  >
                    <span class='button__title'>{% if product.available %}Add to Bag{% else %}Sold Out!{% endif %}</span>
                  </button>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    {% render 'bs-container', state: 'closed', container %}
  </form>
</div>

{% capture modal_images %}
  {% for image in product.images %}
    {% assign image_id = section_name | append: '__images-item-modail-id-' | append: image.id %}
    <div id='{{ image_id }}' data-product-image-id='{{ media_id }}' data-product-image-index='{{ forloop.index }}'>
      {% render 'lazyload-image', alt_text: product.title, image: image %}
    </div>
  {% endfor %}
{% endcapture %}

{% render 'bs-modal', modal_content: modal_images, modal_id: product_modal_id %}

{% schema %}
{
	"name": "Main Product",
	"tag": "section",
	"class": "section section--main-product",
	"settings": [
    {
			"content": "Layout",
			"type": "header"
		},
		{
			"label": "Background",
			"type": "select",
			"options": [{
					"label": "Black",
					"value": "black"
				},
				{
					"label": "White",
					"value": "white"
				}
			],
			"default": "white",
			"id": "background"
		},
		{
			"label": "Container",
			"type": "select",
			"options": [{
					"label": "Static",
					"value": "container"
				},
				{
					"label": "Fluid",
					"value": "container-fluid"
				},
				{
					"label": "Full Width",
					"value": "full-width"
				}
			],
			"default": "container",
			"id": "container"
		}
	],
	"blocks": [
    {
		  "type": "@app"
	  }
  ]
}
{% endschema %}
