{%- liquid

  assign section_name = 'collections-products'
  assign section_classes = section_name
  assign section_id = section_name | append: '--' | append: section.id

  assign section_collection_sort_by = collection.sort_by | default: collection.default_sort_by
  assign section_container = section.settings.container
  assign section_grid_gutter = section.settings.grid_gutter
  assign section_grid_layout = section.settings.grid_layout
  assign section_products_per_page = section.settings.products_per_page

-%}

{%- style -%}
  #{{ section_id }} .grid {
    gap: {{ section_grid_gutter }}px;
  }
  {%
    render 'element-styles',
      background: section.settings.background,
      id: section_id,
      padding_bottom: section.settings.padding_bottom,
      padding_top: section.settings.padding_top,
      text_colour: section.settings.text_colour
  -%}
{%- endstyle -%}

<div class="{{ section_classes }}" id="{{ section_id }}">
  {% render 'bs-container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1', container: section_container %}

    {% paginate collection.products by section_products_per_page %}

      <div class="{{ section_name }}__sort-filter d-none">
        <label class="{{ section_name }}__sort-filter-label">Sort by</label>
        <select class="{{ section_name }}__sort-filter-options select--primary" id="sort-by">
          {%- for option in collection.sort_options -%}
            <option value="{{ option.value }}" {%- if option.value == section_collection_sort_by -%}selected="selected"{%- endif -%}>
              {%- render 'sort-option-name', option_value: option.value -%}
            </option>
          {%- endfor -%}
        </select>
      </div>

      <div class="{{ section_name }}__layout grid grid--{{ section_grid_layout }}" role="list">
        {% for product in collection.products %}
          <div class="{{ section_name }}__item grid__item" data-index="{{ forloop.index }}" role="listitem">
            {% render 'card-product', card_index: forloop.index, card_product: product %}
          </div>
        {% endfor %}
      </div>

      {% render 'pagination', paginate: paginate %}

    {% endpaginate %}

  {% render 'bs-container', state: 'closed', col: 'col-12 col-lg-10 offset-lg-1', container: section_container %}
</div>

<script>

  Shopify.queryParams = {};

  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');
    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');
      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function(e) {
    Shopify.queryParams.sort_by = e.target.value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });

</script>

{% schema %}
{
  "name": "Collection Products",
  "tag": "section",
  "class": "section section--collection-products",
  "templates": [ "collection" ],
  "settings": [
    {
			"content": "Products",
			"type": "header"
		},
    {
			"label": "Products per Page",
			"type": "range",
			"min": 1,
			"max": 50,
			"step": 1,
			"default": 12,
      "id": "products_per_page"
		},
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
		  "label": "Background",
		  "type": "select",
		  "options": [
        { "label": "Black", "value": "black" },
			  { "label": "White", "value": "white" }
		  ],
		  "default": "white",
		  "id": "background"
		},
    {
			"content": "Container",
			"type": "header"
		},
    {
      "label": "Container",
      "type": "select",
      "options": [
        { "label": "Static", "value": "container" },
        { "label": "Fluid", "value": "container-fluid" },
        { "label": "Full Width", "value": "full-width" }
      ],
      "default": "container",
      "id": "container"
    },
    {
			"content": "Grid",
			"type": "header"
		},
    {
      "label": "Grid Layout",
      "type": "select",
      "options": [
        { "value": "two-column", "label": "Two Column" },
        { "value": "three-column", "label": "Three Column" }
      ],
      "default": "two-column",
      "id": "grid_layout"
    },
    {
      "label": "Grid Gutter",
			"type": "range",
			"min": 0,
			"max": 100,
			"step": 2,
			"default": 20,
      "id": "grid_gutter"
    },
    {
      "content": "Padding",
      "type": "header"
    },
    {
      "label": "Top Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_top"
    },
    {
      "label": "Bottom Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_bottom"
    },
    {
      "content": "Text",
      "type": "header"
    },
    {
      "label": "Text Colour",
      "type": "select",
      "options": [
        { "label": "Dark", "value": "dark" },
        { "label": "Light", "value": "light" }
      ],
      "default": "dark",
      "id": "text_colour"
    }
  ]
}
{% endschema %}
