{%- liquid

  assign section_name = 'policy-shipping'
  assign section_id = section_name | append: '--' | append: section.id

  assign background_colour = section.settings.background | default: ''
  assign content = shop.shipping_policy.body | default: ''
  assign title = shop.shipping_policy.title | default: ''

-%}

{% if background_colour != blank %}
  {%- style -%}

    #shopify-section-{{ section.id }} {
      background: rgba(var(--theme-colour-{{ background_colour }}), 1);
      {% case background_colour %}
        {% when 'orange' %}
          color: rgba(var(--theme-colour-black), 1);
        {% when 'white' %}
          color: rgba(var(--theme-colour-black), 1);
        {% else %}
          color: rgba(var(--theme-colour-white), 1);
      {% endcase %}
    }

  {%- endstyle -%}
{% endif %}

<div class="{{ section_name }}__main">
  <div class="{{ section_name }}__content">

    <h1>{{ title }}</h1>
    <div>{{ content }}</div>

  </div>
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Shipping Policy",
    "tag": "div",
    "class": "policy policy-shipping",
    "settings": [],
	  "blocks": []
  }
{% endschema %}
