{%- liquid

  assign section_name = 'popup'
  assign section_classes = section_name | append: ' section-' | append: section.id | append: '-padding'
  assign section_id = section_name | append: '--' | append: section.id

  assign background_colour = section.settings.background | default: ''

-%}

{% if background_colour != blank %}
  {%- style -%}

    #shopify-section-{{ section.id }} {
      background: rgba(var(--theme-colour-{{ background_colour }}), 1);
      {% case background_colour %}
        {% when 'white' %}
          color: rgba(var(--theme-colour-black), 1);
        {% else %}
          color: rgba(var(--theme-colour-white), 1);
      {% endcase %}
    }

  {%- endstyle -%}
{% endif %}

<div class="{{ section_classes }}" id="{{ section_id }}">
  <div class="{{ section_name }}__main">

  </div>
</div>

{% schema %}
  {
    "name": "Popup",
    "tag": "section",
    "class": "section section--popup",
    "settings": [
      {
        "content": "Settings",
        "type": "header"
      },
      {
		    "label": "Background",
		    "type": "select",
		    "options": [
          { "label": "Black", "value": "black" },
			    { "label": "White", "value": "white" }
		    ],
		    "default": "white",
		    "id": "background"
		  }
    ],
	  "blocks": []
  }
{% endschema %}
