{%- liquid

  assign section_name = 'push-menu'
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign footer_menu = section.settings.footer_menu | default: false
  assign main_menu = section.settings.main_menu | default: false
  assign social = section.blocks | where: 'type', 'social' | default: false

  assign social_link_instagram = settings.social_link_instagram | default: false
  assign social_link_spotify = settings.social_link_spotify | default: false
  assign social_link_email = settings.social_link_email | default: false

-%}

<div class="{{ section_name }}__container" data-colour-theme="black">

  <div class="{{ section_name }}__main">
    {% if linklists[main_menu].links.size > 0 %}
      <nav class="{{ section_name }}__main-navigation navigation" role="list">
        {% for link in linklists[main_menu].links %}
          {% render 'navigation-item', navigation_title: link.title, navigation_url: link.url, navigation_active: link.active %}
        {% endfor %}
      </nav>
    {% endif %}
  </div>

  <div class="{{ section_name }}__footer">
    <div class="{{ section_name }}__footer-cart-summary">
      <a class="{{ section_name }}__footer-cart-summary-link link" href='/cart' target="_self" title="Cart">Cart (<span class="{{ section_name }}__cart-items-total js--cart-items-total">{{ cart.item_count }}</span>)</a>
    </div>
    <div class="{{ section_name }}__footer-links">

      {% if social and social.size > 0 %}
        <div class="{{ section_name }}__footer-social">

          {% for item in social %}

            {% assign type = item.settings.type | default: 'facebook' %}
            {% assign url = item.settings.url | default: '' %}
            {% assign svg_icon = 'icon.' | append: type %}

            {% if url != blank %}

              {% if 'email' == type %}
                {% assign url = url | prepend: 'mailto:' %}
              {% endif %}

              <div class="{{ section_name }}__footer-social-item {{ type }} {{ svg_icon }}">
                <a class="{{ section_name }}__footer-social-link link" href="{{ url }}" target="_blank" title="{{ shop.name }} {{ type | capitalize }}">
                  {% render 'svg', type: svg_icon %}
                </a>
              </div>

            {% endif %}

          {% endfor %}

        </div>
      {% endif %}

      {% if linklists[footer_menu].links.size > 0 %}
        <nav class="{{ section_name }}__footer-navigation navigation" role="list">
          {% for link in linklists[footer_menu].links %}
            {% render 'navigation-item', navigation_title: link.title, navigation_url: link.url, navigation_active: link.active %}
          {% endfor %}
        </nav>
      {% endif %}

      </div>
  </div>

</div>

{% schema %}
  {
    "name": "Push Menu",
    "tag": "section",
    "class": "section section--push-menu push-menu",
    "settings": [
      {
			  "content": "Menus",
			  "type": "header"
		  },
      {
        "label": "Main",
        "type": "link_list",
        "id": "main_menu"
      },
      {
        "label": "Footer",
        "type": "link_list",
        "id": "footer_menu"
      }
    ],
    "blocks": [
      {
        "name": "Social Media",
        "type": "social",
        "settings": [
          {
            "label": "Type",
            "type": "select",
            "options": [
              { "label": "Email", "value": "email" },
              { "label": "Facebook", "value": "facebook" },
			        { "label": "Instagram", "value": "instagram" },
              { "label": "LinkedIn", "value": "linkedin" },
              { "label": "Spotify", "value": "spotify" }
            ],
            "default": "facebook",
            "id": "type"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "url"
          }
        ]
      }
    ]
  }
{% endschema %}
